{% extends "customer_dashboard/base_dashboard.html" %}

{% block dashboard_title %}Modificar Servicio{% endblock %}

{% block dashboard_content %}

<div class="card dashboard-card">
    <div class="card-header h5">
        <i class="bi bi-pencil-square me-2"></i>Modificar Servicio: {{ service.name }}
    </div>
    <div class="card-body">
        <p class="card-text text-muted text-center">Selecciona un nuevo plan para tu servicio actual.</p>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form method="POST" class="mt-4"  id="modify-service-form">
                    {{ form.hidden_tag() }}

                    <div class="mb-3">
                        {{ form.plan.label(class="form-label fw-bold") }}
                        {{ form.plan(class="form-select") }}
                        <div class="form-text mt-2">
                            Tu plan actual es: <strong>{{ service.name }} (${{ "%.2f"|format(service.price) }})</strong>
                        </div>
                    </div>

                    <hr class="my-4">

                   {{ form.submit(class="btn btn-primary px-4", value="Guardar Cambios del Servicio") }}
                    
                    <a href="{{ url_for('customer_dashboard.service_management') }}" class="btn btn-outline-secondary px-4 ms-2">Volver a Mis Servicios</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% block scripts_extra %}
    <script src="{{ url_for('static', filename='js/form-spinner.js') }}"></script>
{% endblock %}

{% endblock %}